/*__PLAN__

_VARIABLES
_FONTS
_ALL WEBSITE
_LOGO (CODED)

INDEXPAGE
WHY PAGE
HOW WAS MADE PAGE
POLICY RULES PAGE
LOGIN PAGE
SIGNUP PAGE
HOME PAGE
MENU SHARING MY EXPERIENCES PAGE
CREATION OF A NEW EXPERIENCE  &  UPDATE OF A NEW EXPERIENCE PAGES
LEARNING FROM OTHERS PAGE
BE PATIENT PAGE
CREATE BEFORE UPDATE PAGE
NOT YOUR SHARING PAGE

_BUTTONS

RESPONSIVENESS
*/



/*===============================*/
/*========== VARIABLES ==========*/

:root {
    --main-beige-color: #FFFAEC; /*rgb(255, 250, 236);*/
    --main-green-color: #00704A; /*rgb(0, 112, 74);*/
    --main-grey-color: #404040; /*rgb(64, 64, 64);*/

    --header-height: 110px;
    --header-height-on-mobile: 160px;
    /*--header-height-on-mobile-half: 80px;*/ /*160px/2*/
    --footer-height: 20px;
}



/*===============================*/
/*========== FONTS ==========*/

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.eot');
    src: url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.woff2') format('woff2'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.woff') format('woff'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.ttf') format('truetype'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'archivo_narrowregular';
    src: url('fonts/webfontkit-20230420-104159-ArchivoNarrow/archivonarrow-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230420-104159-ArchivoNarrow/archivonarrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*=================================*/
/*========== ALL WEBSITE ==========*/


/*Default font*/
* {
    color: var(--main-beige-color);
    font-family: 'archivo_narrowregular', 'lane_-_narrowregular', georgia, sans-serif;
}


/*Common page elements*/
body {
    background-color: var(--main-grey-color);
    background-image: url('partDage_wallpaper_001_centered_dark.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}


#blocPage {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 100%;

    margin-top: var(--header-height);
    margin-bottom: 2%;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;

    Flex-wrap: nowrap;

    background-color: rgb(255,255,255);

    position:fixed;
    top: 0px;

    height: var(--header-height);
}

#partdage_logo {
    width: 25%;
    max-height: var(--header-height);
}

#partdage_slogan {
    width: 30%;
    max-height: var(--header-height);
}

/*Initial version*/
/*header nav {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 45%;
    max-height: var(--header-height);
}

header nav * {
    color: var(--main-green-color);
}
*/

#wrap {
    width: 20%;
    height: 50px;
    margin: 0;
    z-index: 99;
    /*position: relative;*/
}

#wrap * {
    font-size: 1em;
    background-color: rgb(255,255,255);
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    /*position: absolute;*/
}

.navbar li {
    height: auto;
    /*width: 100px;*/
    width: 100%;
    /*float: left;*/
    text-align: center;
    /*list-style: none;*/
    padding: 0;
    margin: 0;
}

#navbar_main_li {
    border-width:  2px;
    border-color: rgba(0, 112, 74, 0.3);
    border-style: solid;
}

.navbar li * {
    color: var(--main-green-color);
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.navbar li:hover ul {
    display: block;
}

.navbar li:hover #menu_title {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar:hover #navbar_main_li {
    border-width:  2px;
    border-color: var(--main-green-color);
    border-style: solid;
}

.navbar li ul li {
    /*background-color: rgb(255,255,255);*/
    text-align: left;
    margin-left: 20px;
}

.navbar li ul li a{
    text-decoration: none;
}

.navbar li ul li a:hover {
    font-weight: bold;
}


/**/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    width: 100%;

    Flex-wrap: nowrap;

    background-color: rgb(0,0,0);

    position:fixed;
    bottom: 0px;

    height: var(--footer-height);
}

footer * {
    color: rgb(120,120,120);
}


h1 {
    font-size: 1.4em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

.primary_text {
    font-size: 1.2em;
}

.secondary_text {
    font-style: italic;
    font-size: 0.85em;
}

.centered_text {
    text-align: center;
}


#blocPageIndex, #blocPageWhy, #blocPageMenu, #blocPagePolicyRules, #blocPageHowWasMade {
    text-align: justify;
    width: 80%;
}

#blocPageIndex{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}



/*==================================*/
/*========== LOGO (CODED) ==========*/


.partdage_logo_code {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;

    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;

    position: relative;
    top: -75px;
    z-index: -1;
    
}

.partdage_logo_code * {
    border-color: var(--main-green-color);
    border-style: solid;
}

.partdage_logo_code .partdage_logo_code_left_line, .partdage_logo_code .partdage_logo_code_right_line {
    width: 150px;
    height: 0px;

    border-width: 1px;
}

.partdage_logo_code .partdage_logo_code_circle {
    width: 130px;
    height: 130px;
    border-radius: 50%; /*border radius moitie de width et height pour que cela fasse un cercle*/

    border-width:  2px;
}



/*================================*/
/*========== INDEX PAGE ==========*/

#blocPageIndex button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}

#blocPageIndex #first_secondary_text_index_page{
    margin-bottom: 4%;
}

#blocPageIndex #second_secondary_text_index_page{
    position: relative;
    top: -30px;
    z-index: -2;
}



/*==============================*/
/*========== WHY PAGE ==========*/

#blocPageWhy button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}



/*=======================================*/
/*========== HOW WAS MADE PAGE ==========*/

#blocPageHowWasMade button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}



/*=======================================*/
/*========== POLICY RULES PAGE ==========*/

#blocPagePolicyRules button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}



/*================================*/
/*========== LOGIN PAGE ==========*/

#blocPageLogin {
    background-image: url('partDage_wallpaper_004_dark.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    position: absolute;
    height: 100%;
    z-index: -1;
}


.filling_space_in_login_page {
    height: 140px;
    /*max-height: 30%;*/
}


#blocPageLogin .login_form_container {
    width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    border-width:  2px;
    border-color: var(--main-green-color);
    border-style: solid;

    padding-top: 1%;
    padding-bottom: 2%;
}

#blocPageLogin .login_form_container form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

#blocPageLogin .login_form_container form input{
    color: var(--main-green-color);
}

#blocPageLogin .login_form_container button{
    width: 150px;

    color: var(--main-green-color);
    font-family: 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1.1em;
}



/*=================================*/
/*========== SIGNUP PAGE ==========*/

#blocPageSignup {
    background-image: url('partDage_wallpaper_004_dark.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}

.filling_space_in_signup_page {
    height: 60px;
    /*max-height: 30%;*/
}


#blocPageSignup .signup_form_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:baseline;

    border-width:  2px;
    border-color: var(--main-green-color);
    border-style: solid;

    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#blocPageSignup .signup_form_container form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}

#blocPageSignup .signup_form_container form input{
    color: var(--main-green-color);
}

#blocPageSignup .signup_form_container button{
    width: 150px;

    color: var(--main-green-color);
    font-family: 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1.1em;
}

#blocPageSignup .helptext, #blocPageSignup ul, #blocPageSignup li {
    color: rgb(130,130,130);
    font-size: 0.9em;
    font-style: italic;
}



/*===============================*/
/*========== HOME PAGE ==========*/

#blocPageHome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    background-image: url('partDage_wallpaper_001_centered_splited.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;


    /*
    height: 400px;
    */
    position: absolute;
    height: 100%;
    z-index: -1;
}

#blocPageHome button {
    margin-top: 15%;
    height: 80px;
    font-size: 1.2em;
}

#blocPageHome #home_page_left_button{
    width: 20%;
    min-width: 150px;

    border-width: 2px;
    border-color: var(--main-green-color);
    border-style: solid;

    /*background-color: var(--main-beige-color);*/
    background-color: rgba(255, 250, 236, 0.5);
}

#blocPageHome #home_page_left_button * {
    color: var(--main-green-color);
}

#blocPageHome #home_page_right_button {
    width: 20%;
    min-width: 150px;

    border-width: 2px;
    border-color: var(--main-beige-color);
    border-style: solid;

    /*background-color: var(--main-grey-color);*/
    background-color: rgba(64, 64, 64, 0.5);
}

#blocPageHome #home_page_right_button * {
    color: var(--main-beige-color);
}



/*======================================================*/
/*========== MENU SHARING MY EXPERIENCES PAGE ==========*/

#menu_of_age_button {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    width: 100%;

    flex-wrap: wrap;
}

#menu_of_age_button a {
    text-decoration: none;
}



/*======================================================*/
/*========== CREATION OF A NEW EXPERIENCE ==============*/
/*========== & =========================================*/
/*========== UPDATE OF A NEW EXPERIENCE PAGES ==========*/

#blocPageSharingCreation, #blocPageSharingCreation form, #blocPageSharingCreation form p, #blocPageSharingUpdate, #blocPageSharingUpdate form, #blocPageSharingUpdate form p  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#blocPageSharingCreation button, #blocPageSharingCreation form input, #blocPageSharingUpdate button, #blocPageSharingUpdate form input {
    width: 100px;
    margin-bottom: 5px;
}


#blocPageSharingCreation form p textarea, #blocPageSharingUpdate form p textarea{
    color:var(--main-green-color);
    width: 60%;
}

#blocPageSharingCreation form p label, #blocPageSharingUpdate form p label{
    color:var(--main-grey-color);
    width: 60%;
}



/*===============================================*/
/*========== LEARNING FROM OTHERS PAGE ==========*/

#blocPageLearningFromOthers {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blocPageLearningFromOthers h2 {
    margin-bottom: 10%;
}

#blocPageLearningFromOthers .sharing_of_experience_container {
    width: 98%;
}

#blocPageLearningFromOthers .sharing_of_experience_container .sharing_of_experience {
    width: 100%;

    margin-bottom: 15%;
    margin-top: 0;
}

#blocPageLearningFromOthers .sharing_of_experience_container .sharing_of_experience_description {
    width: 100%;

    margin:0;
    margin-bottom: 1%;

    font-size: 1.4em;
    text-align: justify;
    font-family: 'lane_-_narrowregular', georgia, sans-serif;
    font-weight: bold;
}

#blocPageLearningFromOthers .sharing_of_experience_container .like_and_like_button {
    margin:0;
    padding: 0;

    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

#blocPageLearningFromOthers .sharing_of_experience_container .like_and_like_button p {
    margin:0;
}

#blocPageLearningFromOthers .sharing_of_experience_container .like_and_like_button button a {
    text-decoration: none;
}


.spend_credits_container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.spend_credits_container .spend_credits_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    margin-bottom: 3%;
}

.spend_credits_container .spend_credits_buttons_container button {
    width: 25%;
}

.spend_credits_container .spend_credits_buttons_container button  a {
    text-decoration: none;
}



/*=====================================*/
/*========== BE PATIENT PAGE ==========*/

#blocPageBePatient {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#blocPageBePatient .filling_space_in_be_patient_page {
    height: 50px;
    width: 100px;
}

#blocPageBePatient button {
    width: 25%;
}

#blocPageBePatient button a {
    text-decoration: none;
}



/*===============================================*/
/*========== CREATE BEFORE UPDATE PAGE ==========*/

#blocPageSharingNotYetCreated {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#blocPageSharingNotYetCreated #GIF_create_before {
    width: 480px;
}

#blocPageSharingNotYetCreated .filling_space_in_sharing_not_yet_created_page {
    height: 50px;
    width: 100px;
}

#blocPageSharingNotYetCreated button {
    width: 25%;
}

#blocPageSharingNotYetCreated button a {
    text-decoration: none;
}



/*===========================================*/
/*========== NOT YOUR SHARING PAGE ==========*/

#blocPageNotYourSharing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#blocPageNotYourSharing #GIF_not_your_sharing {
    width: 480px;
}

#blocPageNotYourSharing .filling_space_in_not_your_sharing_page {
    height: 100px;
    width: 100px;
}

#blocPageNotYourSharing button {
    width: 25%;
}

#blocPageNotYourSharing button a {
    text-decoration: none;
}



/*=============================*/
/*========== BUTTONS ==========*/


/* Default buttons */

button {
    width: 10%;
    min-width: 100px;

    border-width: 2px;
    border-color: var(--main-green-color);
    border-style: solid;

    background-color: rgb(255,255,255);
}

button:hover, input:hover{
    font-weight: bold;
}

button * {
    color: var(--main-green-color);
    font-family: 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1.1em;
}


/* Specific buttons */

.age_button_in_menu_already_created, .age_button_in_menu_not_yet_created {
    /*width: 10%;*/
    width: 150px;
    height: 40px;

    border-width: 2px;
    border-style: solid;

    margin-bottom: 1%;
    margin-right: 0.5%;

    border-color: var(--main-beige-color);
}

.age_button_in_menu_already_created {
    background-color: rgba(255, 250, 236, 0.75);
}

.age_button_in_menu_not_yet_created {
    background-color: rgba(64, 64, 64, 0.5);
}

.age_button_in_menu_not_yet_created:hover{
    background-color: var(--main-green-color);
    font-size: 0.9em;
}

.age_button_in_menu_already_created *,  .age_button_in_menu_not_yet_created *{
    font-family: 'archivo_narrowregular', 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1.7em;
}
.age_button_in_menu_already_created *{
    color: var(--main-green-color);
}
.age_button_in_menu_not_yet_created *{
    color: var(--main-beige-color);
    font-weight:bold;
}


#blocPageSharingCreation form input, #blocPageSharingUpdate form input {
    border-width: 2px;
    border-color: var(--main-green-color);
    border-style: solid;

    background-color: rgb(255,255,255);

    color: var(--main-green-color);
    font-family: 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1.1em;
}



/*====================================*/
/*========== RESPONSIVENESS ==========*/

/*Pour cibler les smartphones : max-device-width  : c'est la largeur du périphérique*/

@media screen and (max-width: 1024px)
{
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        width: 100%;
    
        Flex-wrap: nowrap;
    
        background-color: rgb(255,255,255);
    
        position:fixed;
        top: 0px;
    
        height: var(--header-height-on-mobile);
    }

    #partdage_logo_and_slogan_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
        /*width: 100%;*/
    }


    #partdage_logo {
        /*width: 60%;*/
        width: 280px;
        /*max-height: var(--header-height-on-mobile-half);*/
    }
    
    #partdage_slogan {
        /*width: 70%;*/
        width: 280px;
        /*max-height: var(--header-height-on-mobile-half);*/
    }

    #wrap {
        width: 20%;
        height: 50px;
        margin: 0;
        z-index: 99;
        /*position: relative;*/
    }

    .navbar {
        height: 20px;
        padding: 0;
        margin: 0;
        /*position: absolute;*/
    }

    #blocPage {
        margin-top: var(--header-height-on-mobile);
    }

}



@media screen and (max-width: 800px)
{
    * {
        color: red
    }
}
