/*__PLAN__
_ALL WEBSITE
_HOMEPAGE
_SIGN-UP PAGE
_BUTTONS
*/


/*===============================*/
/*========== VARIABLES ==========*/
:root {
    --main-beige-color: #FFFAEC; /*rbg(255, 250, 236);*/
    --main-green-color: #00704A; /*rbg(0, 112, 74);*/
    --main-grey-color: #404040; /*rbg(64, 64, 64);*/

    --header-height: 110px; /*rbg(64, 64, 64);*/
    --footer-height: 20px; /*rbg(64, 64, 64);*/    
}



/*========== FONTS ==========*/
@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.eot');
    src: url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.woff2') format('woff2'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.woff') format('woff'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.ttf') format('truetype'),
         url('fonts/lane-narrow_regular_macroman/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archivo_narrowregular';
    src: url('fonts/webfontkit-20230420-104159-ArchivoNarrow/archivonarrow-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230420-104159-ArchivoNarrow/archivonarrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*=================================*/
/*========== ALL WEBSITE ==========*/


/*Default font*/
* {
    color: var(--main-beige-color);
    font-family: 'archivo_narrowregular', 'lane_-_narrowregular', georgia, sans-serif;
}


/*Common page elements*/
body {
    background-color: var(--main-grey-color);
    background-image: url('partDage_wallpaper_001_centered_dark.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}


#blocPage {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 100%;

    margin-top: var(--header-height);
    margin-bottom: 2%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;

    Flex-wrap: nowrap;

    background-color: rgb(255,255,255);

    position:fixed;
    top: 0px;

    height: var(--header-height);
}

#partdage_logo {
    width: 25%;
    max-height: var(--header-height);
}

#partdage_slogan {
    width: 30%;
    max-height: var(--header-height);
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 45%;
    max-height: var(--header-height);
}

header nav * {
    color: var(--main-green-color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    width: 100%;

    Flex-wrap: nowrap;

    background-color: rgb(0,0,0);

    position:fixed;
    bottom: 0px;

    height: var(--footer-height);
}

footer * {
    color: rgb(120,120,120);
}


h1 {
    font-size: 1.4em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

.primary_text {
    font-size: 1.2em;
}

.secondary_text {
    font-style: italic;
    font-size: 0.85em;
}

.centered_text {
    text-align: center;
}


#blocPageIndex, #blocPageWhy, #blocPageMenu, #blocPagePolicyRules, #blocPageHowWasMade, {
    text-align: justify;
    width: 80%;
}

/*==============================*/
/*========== INDEXPAGE ==========*/

#blocPageIndex button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}


/*==============================*/
/*========== WHY PAGE ==========*/

#blocPageWhy button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}


/*==============================*/
/*========== HOW WAS MADE PAGE ==========*/

#blocPageHowWasMade button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}


/*==============================*/
/*========== POLICY RULES PAGE ==========*/

#blocPagePolicyRules button {
    width: 14%;
    height: 50px;
    position:relative;
    left: 43%; /*50% - 14%/2 with 14% <-> button width*/
}


/*==================================*/
/*========== LOGIN PAGE ==========*/

#blocPageLogin {
    background-image: url('partDage_wallpaper_004_dark.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}


.filling_space_in_login_page {
    height: 230px;
    /*max-height: 30%;*/
}

#blocPageLogin .login_form_container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    border-width:  2px;
    border-color: var(--main-green-color);
    border-style: solid;

    padding-top: 1%;
    padding-bottom: 2%;
}

#blocPageLogin .login_form_container form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}


#blocPageLogin .login_form_container button{
    width: 150px;

    color: var(--main-green-color);
    font-family: 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1.1em;
}


/*=============================*/
/*========== BUTTONS ==========*/


/* Default buttons */
button {
    width: 10%;

    border-width: 10 px;
    border-color: var(--main-green-color);
    border-style: solid;

    background-color: rgb(255,255,255);
}

button * {
    color: var(--main-green-color);
    font-family: 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1.1em;
}


/* Specific buttons */

.age_button_in_menu {
    width: 10%;

    border-width: 10 px;
    border-color: var(--main-beige-color);
    border-style: solid;

    background-color: var(--main-grey-color);
}

.age_button_in_menu * {
    color: var(--main-beige-color);
    font-family: 'archivo_narrowregular', 'lane_-_narrowregular', georgia, sans-serif;
    font-size: 1em;
}

