/*__PLAN__
_ALL WEBSITE
_HOMEPAGE
_SIGN-UP PAGE
_BUTTONS
*/

/*===============================*/
/*========== VARIABLES ==========*/
:root {
    --main-beige-color: #FFFAEC; /*rbg(255, 250, 236);*/
    --main-green-color: #00704A /*rbg(0, 112, 74);*/
    --main-grey-color: #404040 /*rbg(64, 64, 64);*/
}


/*=================================*/
/*========== ALL WEBSITE ==========*/

/*Default font*/
* {
    color: var(--main-beige-color);
}
  

/*==============================*/
/*========== HOMEPAGE ==========*/


/*==================================*/
/*========== SIGN-UP PAGE ==========*/


/*=============================*/
/*========== BUTTONS ==========*/