<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>PART(D)AGE</title>
        <link rel="stylesheet" href="{% static './styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <div id="partdage_logo_and_slogan_container">
                <img id="partdage_logo" src=  "{% static 'partdage_logo_20230420_17h42.png' %}" alt="logo du l'application Partdage">
                <img id="partdage_slogan" src="{% static 'partdage_slogan_20230420_17h42.png' %}" alt="logo du l'application Partdage">
            </div>
            <!-- Initial version-->
            <!-- <nav>
                <div><a href="{% url 'index' %}">Accueil</a></div>
                <div><a href="{% url 'sharing_experiences_menu' %}">Partager mes expérience</a></div>
                <div><a href="{% url 'learning_from_others' %}">Apprendre des autres</a></div>
                {%  if user.is_authenticated %}
                <p>You are logged as {{ request.user }}. <a href="{% url 'logout' %}">Log out</a></p>
                {% endif %}
            </nav>-->

            <div id="wrap">
                <ul class="navbar">
                  <li id="navbar_main_li">
                    <p id ="menu_title">Menu</p>
                    <ul>
                      <li><a href="{% url 'index' %}">Accueil</a></li>
                      <li><a href="{% url 'sharing_experiences_menu' %}">Partager</a></li>
                      <li><a href="{% url 'learning_from_others' %}">Apprendre</a></li>
                      <li><a href="{% url 'why_partdage' %}">Pourquoi ?</a></li>
                      <li><a href="{% url 'how_partdage_was_made' %}">Comment ?</a></li>
                      {%  if user.is_authenticated %}
                      <p>You are logged as {{ request.user }}. <a href="{% url 'logout' %}">Log out</a></p>
                      {% endif %}
                    </ul>
                  </li>
                </ul>
              </div>


        </header>

        <div id=blocPage>
            {% block content %}
            {% endblock content %}
        </div>
        
        <footer>
            <div><a href="mailto:contact.partdage@gmail.com">Contacts</a></div>
            <div><a href="{% url 'policy_and_rules' %}">Données à caractère personnel et modération</a></div>
        </footer>
    </body>
</html>
