{% extends 'base.html' %}
{% block content %}

<div id=blocPageMenu>
    <p>Sharing my experiences</p>

    <p><strong>COMMENT PARTDAGER ?</strong></p>
    <img id="partdage_logo" src="partdage_logo_20230420_17h42.png" alt="logo du l'application Partdage">
    <p>
        Ma philosophie actuelle est d' <strong>être dans l'instant présent</strong>. Je me sers bien sûr de passé et du futur pour m'organiser au quotidien, mais pas pour m'identifier à mon égo ou à mes espoirs et mes peurs. On perçoit les choses comme « positives » ou « négatives », mais avant tout, elles sont. Elles sont dans un contexte. Elles sont interprétées. Elles sont.
        Certaines choses font mal lorsqu'elles font ressurgir un passé douloureux, lorsque « la plaie est encore sensible » (voire pas cicatrisée du tout). Et <strong>c'est OK pour moi de parler des belles choses comme des évènements douloureux</strong>. Cependant, je vous demanderai de faire preuve de <strong>bienveillance</strong> et d'<strong>empathie</strong>. La personne qui vous lit peut être dans une situation similaire mais moins cicatrisée, ou plus extrême. Il en va de même pour la personne qui vous a écrit. Je vous demanderai donc aussi, et surtout, de ne pas accuser/diffamer, ce n'est vraiment pas l'idée de PARTDAGE.
        C'est OK de parler des choses sensibles, qui ont fait mal, etc., mais si l'expérience est trop douloureuse, peut être est-il plus sage d'attendre avant d'en parler publiquement.
    </p>
    <br>
    <p>Gardez à l'esprit cette idée de <strong>bienveillance</strong>, ainsi que <a href="{% url 'policy_and_rules' %}">la politique de l'application relative aux données à caractère personnel et aux règles de modération</a>.</p>
    <br>

    {% for user_age in user_ages %}
        <button class="age_button_in_menu"><a href="{% url 'sharing_an_experience_create' user_age %}">{{ user_age }}</a></button>
    {% endfor %}

</div>

{% endblock content %}
