{% extends 'base.html' %}
{% block content %}

<div id=blocPageSharingCreation>
    <h2>Partager mon expérience: {{ context.experienced_age }} ans </h2>

    <p>Essayez de commencer votre partdage par "A l'age de {{ context.experienced_age }} ans, ce qui a compté pour moi, c'est ..." ou "A l'age de {{ context.experienced_age }} ans, j'aurais aimé savoir ..." "A l'age de {{ context.experienced_age }} ans, j'ai compris ..." </p>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
    
    <button><a href="{% url 'sharing_experiences_menu' %}">Back to menu</a></button>
</div>

{% endblock content %}
