{% extends 'base.html' %}
{% block content %}

<div id=blocPageWhy>
    <h2>POURQUOI PARTDAGE ?</h2>
    <p>
        Initialement, j'ai cherché une idée de projet pour <strong>pratiquer</strong> la conception et le développement informatiques. Je souhaitais développer une application <strong>simple</strong>, mais avec de multiples subtilités lorsque l'on s'intéresse aux détails. L'idée était de réunir plusieurs de mes <strong>compétences</strong> en un seul et même projet (à la suite d'une formation en développement, constituée d'une douzaine de projets indépendants les uns des autres et mettant chacun en lumière une compétence principale), et de continuer à <strong>apprendre</strong>. Cette application constitue également une <strong>démonstration concrète</strong> de mes savoirs pour ma recherche d'une nouvelle opportunité professionnelle. PARTDAGE s'est également révélée être un <strong>moyen d'expression</strong> pour moi, ainsi qu'un moyen de partager mon engouement pour le développement personnel et l'introspection.
    </p>
    <br>
    <div class = 'centered_text'>
        <div class = 'primary_text'><p><strong>Et puis je m'épanouis en développant, tout simplement.</strong></p></div>
        <p>Si je pouvais souhaiter le meilleur à cette application, ce serait de nous réunir un peu plus.</p>
    </div>
    <br>
    <p>Belle aventure, et merci d'avance pour vos partdages.</p>


    {%  if user.is_authenticated %}
        <button><a href="{% url 'home' %}">HOME</a></button>
    {%  else %}
        <button><a href="{% url 'login' %}">LOGIN</a></button>
    {% endif %}
</div>

{% endblock content %}
